@import url("clock.css");
@import url("form.css");
@import url("background.css");
@import url("login.css");
@import url("reset.css");
@import url("quote.css");

body {
  width: 100vw;
  height: 100vh;
}

.hidden {
  display: none;
}
